extends: default

rules:
  line-length:
    max: 160
    level: warning
  truthy:
    check-keys: false
  indentation:
    spaces: 2
  comments:
    min-spaces-from-content: 1
  document-start:
    level: warning

ignore:
  - "*.sealedsecret.yaml"
  - "*kustomization.yaml"
